
body {
    margin: 2%;
    background-color: rgb(249, 208, 208);
}
h1{
    color: maroon;
    margin-top: 0%;
    border: dotted 6px;
    border-color: rgb(50, 0, 0);
    line-height: 60px;
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

/*Section about Music*/
.genre {
    color: maroon;
    border: solid;
    border-color: rgb(50, 0, 0);
    font-size: 18px;
    border-width: 0px 3px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;

}

/*span {
    color: green;
}*/

.artist {
    color: maroon;
    border: solid;
    border-color: rgb(50, 0, 0);
    font-size: 18px;
    border-width: 0px 3px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.contact {
    color: maroon;
    border: solid;
    border-color: rgb(50, 0, 0);
    font-size: 18px;
    border-width: 0px 3px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*Email*/
.email {
    font-size: 40px;
    display: block;
    color: maroon;
    background-color: black;
    width: 20%;
    text-align: center;
    text-decoration: none;
    margin-left: 40%;
    border-radius: 5%;
}

.email:hover {
    background-color: maroon;
    color: black;
    border-radius: 5%;
    transition-duration: 2s;
}

.email:active {
    color: black;
    font-size: 100px;
}

/*Album Photos*/
#nonagon {
   margin-left: 15%;
    width: 25%;
    border: solid 5px;
    border-color: maroon;
    border-width: 20px 20px;
}


#mitski {
    margin-left: 20%;
    width: 25%;
    border: solid 5px;
    border-color: maroon;
    border-width: 20px 20px;
}


/*What Am I Listening To*/

h2 {
    color: maroon;
    border: dotted 6px;
    border-color: rgb(50, 0, 0);
    font-size: 18px;
    line-height: 60px;
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}



.listening{color: maroon;
    border: solid;
    border-color: rgb(50, 0, 0);
    font-size: 18px;
    border-width: 0px 2px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}


/*Listening Photos*/
.kitty {
    margin-left: 13%;
    width: 25%;
    border: solid 5px;
    border-color: maroon;
    border-width: 20px 20px;
}

.head {
    margin-left: 18%;
    width: 28%;
    border: solid 5px;
    border-color: maroon;
    border-width: 20px 20px;
}

/*.kitty{
    width: 25%;
    display: inline-block;
    margin-left: 5%;
}

.head{
    width: 25%;
    display: inline-block;
    margin-left: 5%;
}*/